<?xml version="1.0" encoding="UTF-8"?>
<included>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${logback.pattern}</pattern>
		</encoder>
	</appender>

	
	<logger name="org.apache.cxf" level="info"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="${logback.niveau}">
		<appender-ref ref="STDOUT" />
	</root>
</included>